h1{
    position: sticky;
    text-align: center;
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    font-size: 22px;
    font-weight: 200;
}
body{
    background-color: #736363;
}
 
.candado1{
    height:755.78px; 
    width:593.39px;
    overflow: hidden;
    position: relative;
    margin: -100px auto;
}

.candado1 img {
    height:100%; 
    width:100%;
}

.candado1 h2{
    color: #FFFFFF;
    font-family: 'Licorice', cursive;
    font-size: 150px;
    font-weight: 400;
    position: absolute;
    top: 35%;
    left: 25%;
}

#enlaces{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    z-index: 100;
    top: 82%;
    left: 20%;
    right:20%;
} 
.candado2{
    height:755.78px; 
    width:593.39px;
    overflow: hidden;
    position: relative;
    margin: -100px auto;
}

.candado2 img {
    height:100%; 
    width:100%;
}

.candado2 p{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    top: 52%;
    left: 20%;
    right:20%;
}

.candado2 a{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    z-index: 100;
    top: 82%;
    left: 45%;
    right:60%;
}


.inicio{
    height:400px; 
    width:600px;
    overflow: visible;
    position: relative;
    margin: 80px auto;
}
    

.inicio #p1{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}


#mensaje1 {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: 0;
    position: absolute;
    top: 12%;
    left: 24%;
}
.inicio #p2{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    position:relative;
    top:29%;
}

.inicio img{
    width: 75px;
    transform:rotate(-132deg);
    position: absolute;
    top: 46%;
    left: 36%;
}

.inicio #desplazamientos{
    width: 45px;
    position: absolute;
    top: 53%;
    left: 55%;
}

.inicio #cifrar{
    position: absolute;
    top: 65%;
    left: 31%;
    background: #050505;
    border-radius: 5px;
    font-family: 'Fjord One', serif;
    font-size: 16px;
    color: #F4DCDC;
}

#cifrar:hover{
    background: #F4DCDC;
    color: #020202;
    border:0;
}

.inicio #descifrar{
    position: absolute;
    top: 65%;
    left: 56%;
    background: #050505;
    border-radius: 5px;
    font-family: 'Fjord One', serif;
    font-size: 16px;
    color: #F4DCDC;
}

#descifrar:hover{
    background: #F4DCDC;
    color: #020202;
    border:0;
}

.inicio #p3{
    color: #F4DCDC;
    font-family: 'Fjord One', serif;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    position:relative;
    top:52%;
}

#resultado {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: 0;
    position: absolute;
    top: 85%;
    left: 24%;
}

.inicio #limpiar{
    position: relative;
    top: 79%;
    left: 30%;
    background: #050505;
    border-radius: 5px;
    font-family: 'Fjord One', serif;
    font-size: 16px;
    color: #F4DCDC;
}

#limpiar:hover{
    background: #F4DCDC;
    color: #020202;
    border:0;
}

.inicio #copiar{
    position: relative;
    top: 79%;
    left: 45%;
    background: #050505;
    border-radius: 5px;
    font-family: 'Fjord One', serif;
    font-size: 16px;
    color: #F4DCDC;
}

#copiar:hover{
    background: #F4DCDC;
    color: #020202;
    border:0;
}

#casita{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0px auto;
    

}